# Preprocessing

In [28]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns

from imblearn.over_sampling import SMOTE, ADASYN

from pathlib import Path

# May require pip installation
from tqdm.auto import tqdm

from importlib import reload

import sys

sys.path.append("../src")

In [38]:
f_path = Path("../data/bank-full.csv")

df = pd.read_csv(f_path, delimiter=";")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [41]:
import utils
reload(utils)

X_train, X_test, y_train, y_test, scaler = utils.preprocess(df)
X_train

,day,campaign,pdays,previous,age_transf,balance_transf,duration_transf,job_blue-collar,job_entrepreneur,job_housemaid,...,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown
20068,8,2,-1,0,-1.081689,-0.844844,-0.534386,0,0,0,...,0,0,0,0,0,0,0,0,0,1
31292,10,1,-1,0,-0.509020,0.106904,-0.568445,0,0,0,...,0,0,1,0,0,0,0,0,0,1
30405,5,1,198,5,-1.204700,0.059612,-1.322728,0,0,0,...,0,0,0,0,0,0,0,1,0,0
25913,19,10,-1,0,0.102190,-1.972152,-1.890244,0,1,0,...,0,0,0,0,1,0,0,0,0,1
6639,28,1,-1,0,-1.593914,-0.007553,0.300268,1,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25343,18,5,-1,0,-0.961716,0.776527,0.387084,0,0,0,...,0,0,0,0,1,0,0,0,0,1
6533,27,8,-1,0,-0.093616,-1.972152,0.062166,0,0,0,...,0,0,0,1,0,0,0,0,0,1
11486,19,1,-1,0,0.820343,-0.686889,1.277951,1,0,0,...,0,1,0,0,0,0,0,0,0,1
3199,15,1,-1,0,0.820343,0.773168,0.056673,0,0,0,...,0,0,0,1,0,0,0,0,0,1
44775,14,1,-1,0,-1.081689,-0.503684,-2.375787,0,0,0,...,0,0,0,0,0,0,1,0,0,1